{% extends 'base.html.twig' %}

{% block title %}{{ 'header.login'| trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <form class="box" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1>{{ 'header.login'| trans }}</h1>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
               placeholder={{ 'login.email'| trans }} required>
        <input type="password" name="password" id="inputPassword"
               placeholder={{ 'login.password'| trans }} required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="cb">
            <input type="checkbox" name="_remember_me">{{ 'login.remember'| trans }}
        </div>
        <input type="submit" name="" value={{ 'login.submit'| trans }}>

        <a href="{{ path('app_forgot_password_request') }}">{{ 'login.forgot.pass'| trans }}</a><br>
        <a href="{{ path('app_register') }}">{{ 'login.no.acc'| trans }}</a>
    </form>
{% endblock %}