<h1>{{ 'confirm.title'|trans }}</h1>

<p>
    {{ 'confirm.message'|trans }}: <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'confirm.button'|trans }}</a>.
    {{ 'confirm.expire'|trans }} {{ expiresAt|date('g') }} {{ 'confirm.hours'|trans }}.
</p>

<p>
    {{ 'confirm.cheers'|trans }}
</p>
