{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    <button type="submit" class="btn btn-lg btn-primary">Register</button>
    {{ form_end(registrationForm) }}

    <br><a href="{{ path('app_login') }}">Already have an account? Log in</a>
{% endblock %}