<h1>{{ 'restore.hi'|trans }}</h1>

<p>
    {{ 'restore.reset'|trans }}
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}"></a>
    {{ 'restore.expire'|trans }} {{ tokenLifetime|date('g') }} {{ 'confirm.hours'|trans }}.
</p>

<p>
    {{ 'confirm.cheers'|trans }}
</p>