{% extends 'base.html.twig' %}

{% block title %}{{ 'rr.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'rr.title'|trans }}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ 'rr.btn'|trans }}</button>
    {{ form_end(resetForm) }}
{% endblock %}
