{% extends 'base.html.twig' %}

{% block title %}{{ 'rr.title'|trans }}{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('form') }}
 {% endblock %}

{% block body %}
    <div class="box">
        <h1>{{ 'rr.title'|trans }}</h1>
        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <input type="submit" name="" value={{ 'rr.btn'|trans }}>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
