{% extends('admin/admin_page.html.twig') %}

{% block title %}{{ 'a.quizes.title'|trans }}{% endblock %}

{% block rightbar %}
    <div class="search_block">
        <form action="{{ url('app_show_quizes') }}" method="get">
            <label for="name">{{ 'a.name'|trans }}</label>
            <input type="text" name="name" required/>
            <input type="submit" class="btn btn-success" value="{{ 'a.search'|trans }}"/>
            <a href="{{ url('app_show_questions') }}" class="btn btn-danger">{{ 'a.clear'|trans }}</a>
        </form>
    </div>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(quizes,'id','i.id') }}</th>
            <th>{{ knp_pagination_sortable(quizes,'a.name'|trans,'i.name') }}</th>
            <th>{{ knp_pagination_sortable(quizes,'a.isActive'|trans,'i.isActive') }}</th>
            <th>{{ 'a.questions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for quiz in quizes %}
            <tr>
                <td>{{ quiz.getId }}</td>
                <td>{{ quiz.getName }}</td>
                <td>{% if quiz.getIsActive == 1 %}
                        <span style="color:greenyellow">{{ 'a.active'|trans }}</span>
                    {% else %}
                        <span style="color:red;">{{ 'a.inactive'|trans }}</span>
                    {% endif %}
                </td>
                <td>
                    <div class="answer_show_block">
                        <span style="color:lightblue">{{ quiz.getQuestions | length }} {{ 'a.questions_in_quiz'|trans }}</span><br>
                        {% for question in quiz.getQuestions %}
                            <span>{{ question.name }}</span><br>
                        {% endfor %}
                    </div>
                </td>
                <td><a href="{{ path('app_edit_quiz_page',{"id":quiz.getId}) }}"
                       class="btn btn-warning">{{ 'a.edit'|trans }}</a></td>
                <td><a href="{{ path('app_delete_quiz',{"id":quiz.getId}) }}"
                       class="btn btn-danger">{{ 'a.delete'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(quizes) }}
    </div>
{% endblock %}