{% extends('admin/admin_page.html.twig') %}
{% block title %}{{'a.quizes.title'|trans}}{% endblock %}
{% block rightbar %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-dark table-striped" style="margin-top:50px;">
        <thead>
        <th>{{ knp_pagination_sortable(quizes,'id','i.id')}}</th>
        <th>{{ knp_pagination_sortable(quizes,'name','i.name')}}</th>
        <th>{{ knp_pagination_sortable(quizes,'isActive','i.isActive')}}</th>
        <th>{{'a.questions'|trans}}</th>
        </thead>
        <tbody>
        {% for quiz in quizes %}
        <tr>
            <td>{{quiz.getId}}</td>
            <td>{{quiz.getName}}</td>
            <td>{{quiz.getIsActive}}</td>
            <td>
                <div class="answer_show_block">
                <span style="color:lightblue">{{ quiz.getQuestions | length }} Questions in quiz</span><br>
                {% for question in quiz.getQuestions %}
                    <span>{{ question.name }}</span><br>
                {% endfor %}
                </div>
            </td>
            <td><a href="{{ path('app_edit_quiz_page',{"id":quiz.getId}) }}" class="btn btn-warning">{{'a.edit'|trans}}</a></td>
            <td><a href="{{ path('app_delete_quiz',{"id":quiz.getId}) }}" class="btn btn-danger">{{'a.delete'|trans}}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(quizes) }}
    </div>
{% endblock %}