<center><h1>Total quizes :{{ quizes.getTotalItemCount }}</h1></center>
<table class="quiz_table" cellspacing="25px" cellpadding="5px">
    <thead>
    <tr> {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(quizes , 'id', 'i.id') }}</th>
        <th>{{ knp_pagination_sortable(quizes , 'name', 'i.name') }}</th>
        <th>{{ knp_pagination_sortable(quizes , 'create date', 'i.create_date') }}</th>
        <th>{{ knp_pagination_sortable(quizes , 'active', 'i.is_active') }}</th>
        <th>{{ knp_pagination_sortable(quizes , 'leader id', 'i.leader') }}</th>
        <th>{{ knp_pagination_sortable(quizes , 'count of users', 'i.user_count') }}</th>
        <th>Toolbar</th>
    </tr>
    </thead>
    <tbody>
    {% for quiz in quizes %}
        <tr>
            <td>{{ quiz.getId }}</td>
            <td>{{ quiz.getName }}</td>
            <td>{{ quiz.getCreateDate|date('Y-m-d') }}</td>
            <td>{{ quiz.getIsActive }}</td>
            <td>{{ quiz.getLeader }}</td>
            <td>{{ quiz.getUsersCount }}</td>
            <td class="tools" id="{{ quiz.getId }}">
                <span>delete</span>
                <span>lock</span>
                <span>unlock</span>
                <span>edit</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{# display navigation #}
<div class="pagination">
    {{ knp_pagination_render(quizes) }}
</div>