{% extends 'base.html.twig' %}

{% block title %}{{ 'lb.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quizes_page') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="tbl">
            <div class="d-flex justify-content-center">
                <h3>{{ 'lb.count' |trans }}: {{ pagination.getTotalItemCount }}</h3>
            </div>
            <table class=" table-q">
                <thead>
                <tr>
                    <th>{{ 'lb.number' |trans }}</th>
                    <th>{{ 'lb.name' |trans }}</th>
                    <th>{{ 'lb.score' |trans }}</th>
                    <th>{{ 'lb.duration' |trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for result in pagination %}
                    <tr>
                        <th>{{ loop.index }}</th>
                        <th><a>{{ result.user.name }}</a></th>
                        <th>{{ result.result }}</th>
                        <th>{{ result.duration.format("%dd:%hh:%im:%ss") }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center meh">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}