{% extends 'base.html.twig' %}

{% block title %}{{ quiz.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quiz') }}
{% endblock %}

{% block body %}
    <div class="box">
        {{ 'qp.question'|trans }} №{{ progress }} {{ 'qp.of'|trans }} {{ quiz.questions|length }}<br>
        <div class="question">{{ question }}</div>
        <p>answer: {{ answer }}</p>
        {% if isRight %}
            <div class="right">
                {{ 'qp.right'|trans }}
            </div>
        {% endif %}
        {% if not isRight %}
            <div class="wrong">{{ 'qp.wrong'|trans }}
            </div>
        {% endif %}

        <form action="{{ url('app_quiz', {id: quiz.id} ) }}">
            <button type="submit">  {{ 'qp.next'|trans }}</button>
        </form>
    </div>
{% endblock %}