{% extends 'base.html.twig' %}

{% block title %}{{ quiz.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quiz') }}
{% endblock %}

{% block body %}
    <div class="box">
        {{ 'qp.question'|trans }} №{{ (result.progress|length+1) }} {{ 'qp.of'|trans }} {{ quiz.questions|length }}<br>
        <div class="question">{{ question.name }}</div>
        {{ form_start(form) }}
        <div class="answers">
            {{ form_widget(form) }}
        </div>
        <button type="submit" id="btn"> {{ 'qp.answer'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}