{% extends 'base.html.twig' %}

{% block title %}{{ quiz.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('quiz_info') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2>{{ quiz.name }}</h2>
        </div>

        <div class="row flex-fill">
            {# QUIZ INFO #}
            <div class="col-sm quiz-i">
                <div class="d-flex justify-content-center">
                    <h3>{{ 'qi.title'|trans }}</h3>
                </div>
                <table>
                    <tr>
                        <th>{{ 'qi.created'|trans }}:</th>
                        <th>{{ quiz.createDate.format( 'quiz.date.format'|trans ) }}</th>
                    </tr>
                    <tr>
                        <th>{{ 'qi.status'|trans }}:</th>
                        <th{% if not  quiz.isActive %} class="wrong" {% endif %}
                                {% if  quiz.isActive %} class="right" {% endif %} >
                            {% if  quiz.isActive %}{{ 'quiz.active'|trans }}{% endif %}
                            {% if not  quiz.isActive %}{{ 'quiz.close'|trans }}{% endif %}</th>
                    </tr>
                    <tr>
                        <th>{{ 'qi.count.questions'|trans }}:</th>
                        <th>{{ quiz.questions.count }}</th>
                    </tr>
                    <tr>
                        <th>{{ 'qi.count.participants'|trans }}:</th>
                        <th>{{ quiz.results.count }}</th>
                    </tr>
                </table>
            </div>

            {# LEADERS #}
            <div class="col-sm quiz-i">
                <table>
                    <thead>
                    <tr>
                        <th colspan="4">
                            <h3>
                                <a href="{{ url('app_quiz_leaders', {id:quiz.id}) }}"> {{ 'qi.leaders'|trans }}</a>
                            </h3>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>{{ 'qi.place'|trans }}</th>
                        <th>{{ 'qi.name'|trans }}</th>
                        <th>{{ 'qi.result'|trans }}</th>
                        <th>{{ 'qi.time'|trans }}</th>
                    </tr>
                    {% for tr in topResults %}
                        <tr>
                            <th>{{ loop.index }}</th>
                            <th>{{ tr.user.name }}</th>
                            <th>{{ tr.result }}</th>
                            <th>{{ tr.duration.format("%dd:%hh:%im:%ss") }}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {# RESULT WITH START BUTTON #}
        <div class="row flex-fill">
            <div class="col-sm">
                <div class="rez">
                    <div class="d-flex justify-content-center">
                        <h3>{{ 'qi.progress'|trans }}:</h3>
                    </div>
                    <p>{{ 'qi.status'|trans }}:
                        {% if result is null %}{{ 'qi.status.no'|trans }}{% endif %}
                        {% if result is not null %}
                        {% if result.endDate is null %}{{ 'qi.status.in'|trans }}{% endif %}
                        {% if result.endDate is not null %}{{ 'qi.status.off'|trans }}
                    </p>
                    <p>{{ 'qi.result'|trans }}: {{ result.result }}
                        {% endif %}
                        {% endif %}
                    </p>
                    {% if rate %}
                        <p>
                            {{ 'qi.rate'|trans }}: {{ rate }}
                        </p>
                    {% endif %}
                    <div class="d-flex justify-content-center">
                        <form action="{{ url('app_quiz',{id:quiz.id}) }}">
                            <button type="submit"
                                    {% if result is null and quiz.isActive %}>{{ 'qi.button.start'|trans }}{% endif %}
                                {% if result is null and not quiz.isActive %} disabled>{{ 'qi.button.closed' |trans }}{% endif %}
                                {% if result is not null and result.endDate is null and quiz.isActive %} >{{ 'qi.button.continue'|trans }}{% endif %}
                                {% if result is not null and result.endDate is not null %} disabled>{{ 'qi.button.ended'|trans }}{% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {# ANSWERS #}
        {% if result and (result.progress|length) > 0 %}
            <div class="row flex-fill tac">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <h3>{{ 'qi.answers'|trans }}:</h3>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            {% for question in quiz.questions %}
                                <th>{{ (loop.index) }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for progress in result.progress %}
                                <th {% if progress.isRight %} class="ans-t">✓{% endif %}
                                    {% if not progress.isRight %} class = "ans-f">×{% endif %}
                                </th>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}