{% extends 'base.html.twig' %}
{% block title %}{{ quiz.name }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1>{{ quiz.name }}</h1>
        </div>
        <div class="row flex-fill">
            <div class="col-sm-6" style="background-color: #e08742;margin:5px">
                <div class="d-flex justify-content-center">
                    <h2>{{ 'qi.title'|trans }}</h2>
                </div>
                <table width="100%">
                    <tr>
                        <td>{{ 'qi.created'|trans }}:</td>
                        <td>{{ quiz.createDate.format( 'quiz.date.format'|trans ) }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'qi.status'|trans }}:</td>
                        <td{% if not  quiz.isActive %} style="color: #db7778" {% endif %}
                                {% if  quiz.isActive %} style="color: #3ac31a" {% endif %} >
                            {% if  quiz.isActive %}{{ 'quiz.active'|trans }}{% endif %}
                            {% if not  quiz.isActive %}{{ 'quiz.close'|trans }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{{ 'qi.count.questions'|trans }}:</td>
                        <td>{{ quiz.questions.count }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'qi.count.participants'|trans }}:</td>
                        <td>{{ quiz.results.count }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-5" style=" margin:5px">
                <div style="background-color: #23bf5d">
                    <table width="100%" style="text-align: center">
                        <tr>
                            <th colspan="4"><a
                                        href="{{ url('app_quiz_leaders', {id:quiz.id}) }}">{{ 'qi.leaders'|trans }}</a>
                            </th>
                        </tr>
                        <tr>
                            <th>{{ 'qi.place'|trans }}</th>
                            <th>{{ 'qi.name'|trans }}</th>
                            <th>{{ 'qi.result'|trans }}</th>
                            <th>{{ 'qi.time'|trans }}</th>
                        </tr>
                        {% for tr in topResults %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ tr.user.name }}</td>
                                <td>{{ tr.result }}</td>
                                <td>{{ tr.duration.format("%dd:%hh:%im:%ss") }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div style="background-color: #008b8b;margin-top:5px">
                    <div class="d-flex justify-content-center">
                        <h2>{{ 'qi.progress'|trans }}:</h2>
                    </div>
                    <p style="text-align: center; margin: 0">{{ 'qi.status'|trans }}:
                        {% if result is null %}{{ 'qi.status.no'|trans }}{% endif %}
                        {% if result is not null %}
                        {% if result.endDate is null %}{{ 'qi.status.in'|trans }}{% endif %}
                        {% if result.endDate is not null %}{{ 'qi.status.off'|trans }}
                    </p>
                    <p style="text-align: center">{{ 'qi.result'|trans }}: {{ result.result }}
                        {% endif %}
                        {% endif %}
                    </p>
                    <div class="d-flex justify-content-center ">
                        <form action="{{ url('app_quiz',{id:quiz.id}) }}">
                            <button type="submit"
                                    {% if result is null %}
                                    class="btn btn-success">{{ 'qi.button.start'|trans }}{% endif %}
                                {% if result is not null and result.endDate is null %} class ="btn btn-success">{{ 'qi.button.continue'|trans }}{% endif %}
                                {% if result is not null and result.endDate is not null %} class="btn btn-secondary" disabled>{{ 'qi.button.ended'|trans }}{% endif %}
                            </button>
                        </form>
                    </div>
                    {% if result and (result.progress|length) > 0 %}
                        <div class="d-flex justify-content-center">
                            <h2>{{ 'qi.answers'|trans }}:</h2>
                        </div>
                        <table class="table table-dark">
                            <thead>
                            <tr>
                                {% for question in quiz.questions %}
                                    <th>
                                        {{ (loop.index) }}
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for progress in result.progress %}
                                    <th {% if progress.isRight %}style="color: #23bf5d">+{% endif %}
                                        {% if not progress.isRight %}style="color: #C82829">-{% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}