<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ asset('build/favicon.png') }}" type="image/x-icon">
    <title>{% block title %}{{ 'main.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg justify-content-between" style="background-color: rgba(25, 25, 25, 0.9)">
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_home') }}">{{ 'header.home'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_quizes') }}">{{ 'header.quizes'|trans }}</a>
            </li>
            <li class="nav-item">
                {% if app.request.locale == "en" %}
                    <a class="nav-link" href="{{ path('app_locale',{_locale:"ru"}) }}">
                        <img src="{{ asset('build/russia.png') }}"/>
                    </a>
                {% elseif app.request.locale == "ru" %}
                    <a class="nav-link" href="{{ path('app_locale',{_locale:"en"}) }}">
                        <img src="{{ asset('build/uk.png') }}"/>
                    </a>
                {% endif %}
            </li>
        </ul>
        <ul class="navbar-nav float-left">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_page') }}">{{ 'header.admin'|trans }}</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_profile') }}">{{ app.user.name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">{{ 'header.logout'|trans }}</a>
                </li>
            {% endif %}
            {% if not is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">{{ 'header.login'|trans }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>

{% block body %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block footer %}
    <div class="fixed-bottom footer" style="text-align: center">
        <a class="nav-link" href="https://github.com/JaneBmx/Quiz">2020
            <img src="https://github.githubassets.com/images/icons/emoji/octocat.png"
                 style="height: 20px; width: 20px; text-align: center"/>
        </a>
    </div>
{% endblock %}
</body>
</html>
