{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row flex-fill">
            <div class="col-sm-4">
                <h2>Info</h2>
                Name: {{ app.user.name }}<br>
                Email: {{ app.user.email }}<br>

                <button type="button" class="btn btn-lg btn-primary">Edit</button>
            </div>
            <div class="col-sm-8">

                <h2>Quizes</h2>
                    {% for result in results %}

                        <div class="row flex-fill " style="background-color: #1b9448">
                            <div class="col-md-8">
                                Quiz name: {{ result.quiz.name }}<br>
                                Quiz status: {{ result.quiz.isActive }}<br>
                                Quiz status: {% if result.endDate %}Completed{% endif %}
                                {% if not result.endDate %}{{ result.progress }} {% endif %}<br>
                                Quiz result: {{ result.result }}
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-lg btn-primary">Leaderboard</button>
                                {% if not result.endDate %}
                                    <button class="btn btn-lg btn-primary">Continue</button>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                    {% endfor %}

            </div>
        </div>
    </div>
    {# Hmmm User page:D #}
    {# <br> #}
    {# You are {{ app.user.name }} #}
{% endblock %}