{% extends 'base.html.twig' %}

{% block title %}{{ 'userpage.title'| trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_page') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row flex-fill" style="padding: 10px">

            <div class="col-sm-4 user-info">
                <h3>{{ 'userpage.info'| trans }}</h3>
                <div class="photo">
                    <img class="displayed"
                         src="https://sun9-35.userapi.com/1As_T-bzUwG7tF8sQJjos_VqRhpuIbOytZsmeA/veakSVpnLZo.jpg"
                         alt="photo">
                    <br>
                </div>
                {% for msg in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">{{ msg }}</div>
                {% endfor %}
                <table>
                    <tr>
                        <th>{{ 'userpage.name'| trans }}:</th>
                        <th>{{ app.user.name }}</th>
                    </tr>
                    <tr>
                        <th>{{ 'userpage.email'| trans }}:</th>
                        <th>{{ app.user.email }}</th>
                    </tr>
                    <tr>
                        <th>{{ 'userpage.quizes.count'| trans }}:</th>
                        <th>{{ results | length }}</th>
                    </tr>
                </table>
                <form action="{{ url('app_profile_edit_pass') }}">
                    <button type="submit">{{ 'userpage.edit'| trans }}</button>
                </form>
                <form action="{{ url('app_profile_edit_name') }}">
                    <button type="submit">{{ 'u.name.title'| trans }}</button>
                </form>
            </div>


            <div class="col-sm-7 quiz-info">
                <h2>{{ 'userpage.quizes'| trans }}</h2>
                <div class="quizes">
                    {% for result in results %}

                        <div class="row flex-fill quiz-block">
                            <div class="col-md-7">
                                <h2>
                                    <a href="{{ url('app_quiz_info',{id:result.quiz.id}) }}"> {{ result.quiz.name }}</a>
                                </h2>
                                <table>
                                    {% if result.endDate %}
                                        <tr>
                                            <th> {{ 'qi.rate'|trans }}:</th>
                                            <th>{{ places[result.quiz.id] }}</th>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <th>{{ 'userpage.quizes.status'| trans }}:</th>
                                        <th>
                                            <span{% if not  result.quiz.isActive %} style="color: #db7778" {% endif %}
                                                    {% if  result.quiz.isActive %} style="color: #3ac31a" {% endif %}>
                                                {% if  result.quiz.isActive %}{{ 'quiz.active'| trans }}{% endif %}
                                                {% if not  result.quiz.isActive %}{{ 'quiz.close'| trans }}{% endif %}
                                            </span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>{{ 'userpage.quizes.progress'| trans }}:</th>
                                        <th>{{ result.progress|length }}/{{ result.quiz.questions|length }}</th>
                                    </tr>
                                    <tr>
                                        <th>{{ 'userpage.quizes.result'| trans }}:</th>
                                        <th>{{ result.result }}</th>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-5">
                                <form action="{{ url('app_quiz_leaders',{id:result.quiz.id}) }}">
                                    <button type="submit">{{ 'qi.leaders'| trans }}</button>
                                </form>
                                {% if not result.endDate %}
                                    <form action="{{ url('app_quiz',{id:result.quiz.id}) }}">
                                        <button {% if not result.quiz.isActive %}disabled{% endif %}
                                                type="submit">{{ 'qi.button.continue'| trans }}
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}