{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row flex-fill">
            <div class="col-sm-4">
                <h2>Info</h2>
                Name: {{ app.user.name }}<br>
                Email: {{ app.user.email }}<br>

                <button type="button" class="btn btn-lg btn-primary">Edit</button>
            </div>
            <div class="col-sm-8">

                <h2>Quizes</h2>
                {% for result in results %}

                    <div class="row flex-fill " style="background-color: #1b9448">
                        <div class="col-md-8">
                            <h3>Quiz name:
                                <a href="{{ url('app_quiz_info',{id:result.quiz.id}) }}"> {{ result.quiz.name }}</a>
                            </h3>

                            Quiz status:
                            <span{% if not  result.quiz.isActive %} style="color: #db7778" {% endif %}
                                    {% if  result.quiz.isActive %} style="color: #3ac31a" {% endif %} >

                                {% if  result.quiz.isActive %}active{% endif %}
                                {% if not  result.quiz.isActive %}closed{% endif %}
                            </span><br>



                            Progress: {% if result.endDate %}Completed{% endif %}
                            {% if not result.endDate %}{{ result.progress }} {% endif %}<br>
                            Result: {{ result.result }}
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-lg btn-primary">Leaderboard</button>
                            {% if not result.endDate %}
                                <button class="btn btn-lg btn-primary">Continue</button>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}